:root {
  --accent-color: #6a0bff;
  --grey-bg-color: #f8f8f8;

  --black-text1: #191919;
  --black-text2: #303030;
  --grey-text1: #474747;
  --viol-text1: #5509cc;

  --viol-color2: #5533ff;
  --white-color: #ffffff;

  --grey-shadow: #6a63761a;
}
