@use '../../shared/styles/mixins.scss' as m;
.nav_backButton{
  display: flex;
  margin: 20px 0;
}
.page_container{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sidebar{
  @include m.flex(flex, column, flex-start, stretch);
  gap: 20px; 
}

@media (max-width: 768px) {
  .page_container{
    flex-direction: column;
    padding-bottom: 80px;
  }
  .sidebar .sidebarFilters {
    display: none;
  }
}

@media (max-width: 360px) {
  
}