@use "../../styles/mixins.scss" as m;

.button{ 
  padding: 15px 30px;
  border-radius: 12px;
  border: none;
  line-height: 1;
  @include m.font(18px, 500);
  background-color: var(--color-purple-700);
  color: var(--color-white-900);
}

.button:hover {
  background-color: var(--color-purple-800);
}