@use "../../../../shared/styles/mixins.scss" as m;

.shortAnswer{
  display: flex;
}
.link {
  display: flex;
  justify-content: start;
  gap: 8px;
  justify-content: flex-end;
}
.link_text {
  color: var(--color-purple-700);
}
.link_text:hover {
  text-decoration: underline;
}
.ArrowRight {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .shortAnswer{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}