@use '../../shared/styles/mixins.scss' as m;


.container{
  padding: 24px;
  background-color: var(--color-white-900);
  border-radius: 24px;
  @include m.flex(flex, column, start, start);
  gap: 24px; 
}

.container_part{
  @include m.flex(flex, column, start, start);
  gap: 8px; 
}
.title{
  @include m.font(16px, 500);
  color: var(--color-black-700);
}

.tags{
  @include m.flex(flex, row, start, start);
  flex-wrap: wrap;
  gap: 10px;
}
.tag{
  border: 1px solid var(--color-purple-700);
}

.keywords{
  @include m.flex(flex, row, start, start);
  flex-wrap: wrap;
  gap: 10px;
}
.word{
  @include m.font(16px, 400);
  color: var(--color-purple-700);
}

.container_author{
  @include m.flex(flex, row, start, start);
  gap: 4px;
  @include m.font(16px, 400);
  color: var(--color-black-800);
}

.authorName {
  color: var(--color-purple-700)
}


@media (max-width: 360px) {
  .container{
    padding: 12px;
    gap: 12px; 
  }
  .tags{
    @include m.flex(flex, column, start, start);
    flex-wrap: wrap;
    gap: 5px;
  }

}