@use "../../shared/styles/mixins.scss" as m;

.filter_section {
  width: 392px;
  @include m.flex(flex, column, flex-start, flex-start);
  gap: 24px;
  padding: 24px;
  border-radius: 24px;
  background-color: #ffffff;
}
