@use "../../styles/mixins" as *;
.header {
  background-color: var(--white-color);

  .container {
    padding: 8px 0 8px;
    @include flex(flex, row, space-between, center);

    .header_nav {
      @include flex(flex, row, space-between, center);
      gap: 30px;
      .link {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .header_menu {
        @include flex(flex, row, space-between, center);
        @include font(16px, 500);
        color: var(--black-text1);
        gap: 20px;
      }
    }
    .header_btnWhite {
      @include button(48px, 15px 30px 15px 30px, none, 12px);
      @include font(16px, 600);

      background-color: #ffffff00;
      color: var(--accent-color);
      line-height: 1;
    }

    .header_btnPurple {
      @include button(48px, 15px 30px 15px 30px, none, 12px);
      @include font(18px, 500);

      background-color: var(--accent-color);
      color: var(--white-color);
      line-height: 1;
    }
  }
}
