@use "../../styles/mixins.scss" as m;

.input_container{
  display: flex;
	align-items: center;
  gap: 8px;
  border-radius: 68px;
  border: 1px solid var(--color-black-50);
  padding: 10px;
  width: 100%;
}

.input_container:focus-within{
  border: 1px solid var(--color-purple-700);
  outline: none;
}
.searchInput {
  flex: 1;
  border: none;
  outline: none;
}

.searchInput::placeholder {
  @include m.font(16px, 400);
  color: var(--color-black-300);
}