@use '../../shared/styles/mixins.scss' as m;

.container_wrap {
  @include m.flex(flex, column, center, stretch);
  margin: 0 auto;
  padding: 24px 20px 40px 20px;
  background-color: var(--color-white-900);
  border-radius: 24px;
  gap: 40px;
  box-shadow: 0px 4px 10px #6a63761a;
}
.questions {
  @include m.flex(flex, column, flex-start, stretch);
  gap: 24px;
} 

.list {
  @include m.flex(flex, column, flex-start, stretch);
  gap: 24px;
}
.list li {
  width: 100%;
}

.pagination{
  @include m.flex(flex, column, center, center);
}