@use "../../shared/styles/mixins.scss" as m;

.baseQuestions {
  @include m.flex(flex, row, center, flex-start);
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.main {
  flex: 1;
  min-width: 0;
}

.aside {
  display: flex;
  width: var(--aside-width);
  position: sticky;
  top: var(--space-lg);
}

@media (max-width: 1024px) {
  .aside {
    display: none;
  }
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}