@use "../../shared/styles/mixins.scss" as m;

.container{
  margin: 100px auto;
  @include m.flex(flex, column, center, center);
  background-color: var(--color-white-900);
  padding: 80px 0; 
  border-radius: 24px;
}

.title{
  @include m.font(100px, 700);
  color: var(--color-black-text); 
}
.details{
  display: flex;
  flex-direction: column;
  gap: 24px; 
}
.text{
  @include m.font(20px, 500);
  color: var(--color-black-700); 
}