@use "../../../shared/styles/mixins.scss" as m;

.buttonTag {
  display: inline-flex;
  padding: 6px 12px;
  background: var(--white-color);
  border-radius: 12px;
  border: 1px solid #bababa;
  color: #303030;
}
.buttonTag:hover {
  background: #6f20fb;
  color: #ffffff;
  border: 1px solid #6f20fb;
}

.active {
  background: #6f20fb;
  color: #fff;
  border: 1px solid #6f20fb;
}

.withIcons {
  gap: 6px;
}
.text {
  @include m.font(16px, 500);
  white-space: nowrap;
}
.icon {
  width: 30px;
  height: 30px;
}
