@use "../../../shared/styles/mixins.scss" as m;

.buttonTag {
  display: inline-flex;
  padding: 6px 12px;
  background: var(--color-white-900);
  border-radius: 12px;
  border: 1px solid var(--color-black-200); 
  color: var(--color-black-800);
}
.buttonTag:hover {
  background: var(--color-purple-700);
  color: var(--color-white-900);
  border: 1px solid var(--color-purple-600);
}

.active {
  background: var(--color-white-900);
  color: var(--color-black-800);
  border: 1px solid var(--color-purple-700); 
}

.withIcons {
  gap: 6px;
}
.text {
  @include m.font(16px, 500);
  white-space: nowrap;
}
.icon {
  width: 30px;
  height: 30px;
}
